{
  "homeserver": "https://matrix.org",
  "user_id": "@somebotuser:matrix.org",
  "access_token": "MATRIX_ACCESS_TOKEN",
  "global_check_interval": 60,
  "users": [
    {
      "name": "User1",
      "matrix_room_id": "!internalID:matrix.org",
      "checkers": [
        {
          "checker_type": "discourse",
          "forums": [
            {
              "name": "Forum1",
              "discourse_url": "https://forum1.some-discourse.com",
              "discourse_api_key": "DISCOURSE_FORUM1_API_KEY",
              "discourse_api_user": "botuser",
              "keywords": ["test", "test"]
            },
            {
              "name": "Forum2",
              "discourse_url": "https://forum2.some-discourse.com",
              "discourse_api_key": "DISCOURSE_FORUM2_API_KEY",
              "discourse_api_user": "botuser",
              "keywords": ["test", "test"]
            }
          ]
        },
        {
          "checker_type": "governance",
          "substrate_wss": "wss://kusama-rpc.polkadot.io",
          "network": "kusama",
	  "keywords": ["staking"]
	  
        },
        {
          "checker_type": "stackexchange",
          "stack_exchange_site": "stackoverflow",
          "stack_exchange_api_key": "STACK_EXCHANGE_API_KEY",
          "keywords": ["python", "blockchain"]
        }
      ]
    },
    {
      "name": "User2",
      "matrix_room_id": "MATRIX_ROOM_ID_2",
      "checkers": [
        {
          "checker_type": "discourse",
          "forums": [
            {
              "name": "Forum1",
              "discourse_url": "https://forum1.some-discourse.com",
              "discourse_api_key": "DISCOURSE_FORUM1_API_KEY",
              "discourse_api_user": "botuser",
              "keywords": ["test", "test"]
            },
            {
              "name": "Forum2",
              "discourse_url": "https://forum2.some-discourse.com",
              "discourse_api_key": "DISCOURSE_FORUM2_API_KEY",
              "discourse_api_user": "botuser",
              "keywords": ["test", "test"]
            }
          ]
        }
      ]
    }
  ]
}

